<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" > -->
<!-- Sample Master Suite File containing all relevant Suite Files -->
<suite name="CompanySetup">

	<suite-files>
		<suite-file path="./src/main/resources/suitefile/sample.xml" />
	</suite-files>

</suite>